<footer class="border-t py-6 md:py-0">
  <div class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row max-w-6xl">
    <p class="text-center text-sm leading-loose text-muted-foreground md:text-left flex items-center gap-1">
      Built with 
      <a href="https://github.com/gnujoow/glob-astro-blog-starter" class="font-medium underline underline-offset-4">glob</a>, 
    </p>
  </div>
</footer>